.gallery {
  float: left;
  position: relative;
  height: 200px;
  margin: 20px 20px;
  border: 2px solid #fff;
  background: #fff;
  box-shadow: 5px 5px 5px #222;
  z-index: 1;
  box-sizing: border-box;
}

/*
.gallery:hover {
  z-index: 10;
  transform-origin:left top;
  transform: scale(3.0) rotate(0deg);
}
*/
